// --shiki-light: #90A4AE;
// --shiki-dark: #babed8;
// --shiki-light-bg: #FAFAFA;
// --shiki-dark-bg: #292D3E;

.kan-doc {
  display: flow-root;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    font-weight: 600;
    outline: none;

    &:hover {
      .header-anchor {
        opacity: 1;
      }
    }

    .header-anchor {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 500;
      user-select: none;
      opacity: 0;
      text-decoration: none;
      transition:
        color 0.25s,
        opacity 0.25s;
    }

    .header-anchor {
      &:focus {
        opacity: 1;
      }
    }
  }

  h1 {
    margin: 36px 0 20px;
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 28px;
  }

  h2 {
    margin: 32px 0 16px;
    // border-top: 1px solid var(--vp-c-divider);
    letter-spacing: -0.02em;
    line-height: 32px;
    font-size: 24px;
  }

  h3 {
    margin: 28px 0 12px;
    letter-spacing: -0.01em;
    line-height: 28px;
    font-size: 20px;
  }

  h4 {
    margin: 24px 0 8px;
    letter-spacing: -0.01em;
    line-height: 24px;
    font-size: 18px;
  }

  p,
  summary {
    margin: 16px 0;
  }

  p {
    line-height: 2;
  }

  blockquote {
    margin: 16px 0;
    border-left: 2px solid var(--vp-c-divider);
    padding-left: 16px;
    transition: border-color 0.5s;
    color: var(--vp-c-text-2);

    & > p {
      margin: 0;
      font-size: 16px;
      transition: color 0.5s;
    }
  }

  a {
    font-weight: 500;
    color: var(--vp-c-brand-1);
    text-decoration: underline;
    text-underline-offset: 2px;
    transition:
      color 0.25s,
      opacity 0.25s;

    &:hover {
      color: var(--vp-c-brand-2);

      & > code {
        color: var(--vp-code-link-hover-color);
      }
    }

    code {
      color: var(--vp-code-link-color);
    }
  }

  strong {
    font-weight: 600;
  }

  ul,
  ol {
    padding-left: 1.25rem;
    margin: 16px 0;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li {
    & > ol,
    & > ul {
      margin: 8px 0 0;
    }
  }

  li + li {
    margin-top: 8px;
  }

  table {
    display: block;
    border-collapse: collapse;
    margin: 20px 0;
    overflow-x: auto;

    tr {
      background-color: var(--vp-c-bg);
      border-top: 1px solid var(--vp-c-divider);
      transition: background-color 0.5s;

      &:nth-child(2n) {
        background-color: var(--vp-c-bg-soft);
      }

      th,
      td {
        border: 1px solid var(--vp-c-divider);
        padding: 8px 16px;
      }

      th {
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        color: var(--vp-c-text-2);
        background-color: var(--vp-c-bg-soft);
      }

      td {
        font-size: 14px;
      }
    }
  }

  hr {
    margin: 16px 0;
    border: none;
    border-top: 1px solid var(--vp-c-divider);
  }

  .custom-block {
    margin: 16px 0;

    p {
      margin: 8px 0;
      line-height: 24px;

      &:first-child {
        margin: 0;
      }
    }

    [class*="language-"] {
      margin: 8px 0;
      border-radius: var(--mygo-border-radius-base);

      code {
        font-weight: 400;
        background-color: transparent;
      }
    }
  }

  :not(pre, h1, h2, h3, h4, h5, h6) > code {
    font-size: 0.875em;
    color: #90a4ae;
  }

  :not(pre) > code {
    border-radius: var(--mygo-border-radius-base);
    padding: 3px 6px;
    background-color: var(--mygo-c-code-bg);
    color: var(--mygo-c-code-text);
    transition:
      color 0.25s,
      background-color 0.5s;
  }

  pre.shiki.shiki-themes {
    position: relative;
    z-index: 1;
    margin: 0;
    --uno: p-2 lg:p-4;
    overflow-x: auto;
    border: 1px solid var(--mygo-c-border);
    border-radius: var(--mygo-border-radius-small);
    background-color: var(--mygo-c-code-bg);
    color: var(--mygo-c-code-text);

    // 背景不使用 shiki 提供的颜色
    span {
      color: var(--s-light);
    }

    .dark & {
      span {
        color: var(--s-dark);
      }
    }
  }

  // [class*="language-"] {
  //   position: relative;
  //   margin: 16px 0;
  //   overflow-x: auto;
  //   transition: background-color 0.5s;
  //   border: 1px solid #9ca3af4d;
  //   border-radius: var(--mygo-border-radius-base);

  //   pre,
  //   code {
  //     direction: ltr;
  //     text-align: left;
  //     white-space: pre;
  //     word-spacing: normal;
  //     word-break: normal;
  //     word-wrap: normal;
  //     tab-size: 4;
  //     hyphens: none;
  //   }

  //   pre.shiki.shiki-themes {
  //     position: relative;
  //     z-index: 1;
  //     margin: 0;
  //     padding: 20px 0;
  //     background-color: var(--shiki-light-bg);
  //     color: var(--shiki-light);
  //     overflow-x: auto;

  //     span {
  //       color: var(--shiki-light);
  //     }

  //     .dark & {
  //       background-color: var(--shiki-dark-bg);
  //       color: var(--shiki-dark);

  //       span {
  //         color: var(--shiki-dark);
  //       }
  //     }
  //   }

  //   code {
  //     display: block;
  //     padding: 0 24px;
  //     width: fit-content;
  //     min-width: 100%;
  //     line-height: 1.85;
  //     font-size: 0.875em;
  //     transition: color 0.5s;

  //     .highlighted {
  //       background-color: var(--vp-code-line-highlight-color);
  //       transition: background-color 0.5s;
  //       margin: 0 -24px;
  //       padding: 0 24px;
  //       width: calc(100% + 2 * 24px);
  //       display: inline-block;

  //       &.error {
  //         background-color: var(--vp-code-line-error-color);
  //       }

  //       &.warning {
  //         background-color: var(--vp-code-line-warning-color);
  //       }
  //     }

  //     .diff {
  //       transition: background-color 0.5s;
  //       margin: 0 -24px;
  //       padding: 0 24px;
  //       width: calc(100% + 2 * 24px);
  //       display: inline-block;

  //       &::before {
  //         position: absolute;
  //         left: 10px;
  //       }

  //       &.remove {
  //         background-color: var(--vp-code-line-diff-remove-color);
  //         opacity: 0.7;

  //         &::before {
  //           content: "-";
  //           color: var(--vp-code-line-diff-remove-symbol-color);
  //         }
  //       }

  //       &.add {
  //         background-color: var(--vp-code-line-diff-add-color);

  //         &::before {
  //           content: "+";
  //           color: var(--vp-code-line-diff-add-symbol-color);
  //         }
  //       }
  //     }

  //     .has-focused-lines {
  //       .line {
  //         &:not(.has-focus) {
  //           filter: blur(0.095rem);
  //           opacity: 0.4;
  //           transition:
  //             filter 0.35s,
  //             opacity 0.35s;
  //         }
  //       }
  //     }
  //   }

  //   &:hover {
  //     .has-focused-lines {
  //       .line {
  //         &:not(.has-focus) {
  //           filter: blur(0);
  //           opacity: 1;
  //         }
  //       }
  //     }
  //   }

  //   &.line-numbers-mode {
  //     padding-left: 32px;
  //     background-color: #fafafa;
  //     color: #90a4ae;
  //   }

  //   & > button.copy {
  //     direction: ltr;
  //     position: absolute;
  //     top: 12px;
  //     right: 12px;
  //     z-index: 3;
  //     border: 1px solid var(--vp-code-copy-code-border-color, #333);
  //     border-radius: 4px;
  //     width: 40px;
  //     height: 40px;
  //     background-color: var(--vp-code-copy-code-bg);
  //     opacity: 0;
  //     cursor: pointer;
  //     background-image: var(--vp-icon-copy);
  //     background-position: 50%;
  //     background-size: 20px;
  //     background-repeat: no-repeat;
  //     transition:
  //       border-color 0.25s,
  //       background-color 0.25s,
  //       opacity 0.25s;

  //     &:focus {
  //       opacity: 1;

  //       & + span.lang {
  //         opacity: 0;
  //       }
  //     }

  //     &:hover {
  //       border-color: var(--vp-code-copy-code-hover-border-color);
  //       background-color: var(--vp-code-copy-code-hover-bg);
  //     }

  //     &.copied {
  //       border-color: var(--vp-code-copy-code-hover-border-color);
  //       background-color: var(--vp-code-copy-code-hover-bg);
  //       border-radius: 0 4px 4px 0;
  //       background-image: var(--vp-icon-copied);
  //     }

  //     &:hover.copied {
  //       border-radius: 0 4px 4px 0;
  //       background-color: var(--vp-code-copy-code-hover-bg);
  //       background-image: var(--vp-icon-copied);
  //     }

  //     &.copied::before,
  //     &:hover.copied::before {
  //       position: relative;
  //       top: -1px;
  //       transform: translateX(calc(-100% - 1px));
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       border: 1px solid var(--vp-code-copy-code-hover-border-color);
  //       border-right: 0;
  //       border-radius: 4px 0 0 4px;
  //       padding: 0 10px;
  //       width: fit-content;
  //       height: 40px;
  //       text-align: center;
  //       font-size: 12px;
  //       font-weight: 500;
  //       color: var(--vp-code-copy-code-active-text);
  //       background-color: var(--vp-code-copy-code-hover-bg);
  //       white-space: nowrap;
  //       content: var(--vp-code-copy-copied-text-content);
  //     }
  //   }

  //   & > span.lang {
  //     position: absolute;
  //     top: 2px;
  //     right: 8px;
  //     z-index: 2;
  //     font-size: 12px;
  //     font-weight: 500;
  //     user-select: none;
  //     color: var(--vp-code-lang-color);
  //     transition:
  //       color 0.4s,
  //       opacity 0.4s;
  //   }

  //   &:hover {
  //     & > button.copy {
  //       opacity: 1;

  //       & + span.lang {
  //         opacity: 0;
  //       }
  //     }
  //   }
  // }

  // [class*="language-"] + [class*="language-"],
  // [class$="-api"] + div[class*="language-"],
  // [class*="language-"] + [class$="-api"] > [class*="language-"] {
  //   margin-top: -8px;
  // }

  // .line-numbers-wrapper {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   z-index: 3;
  //   border-right: 1px solid #9ca3af4d;
  //   padding-top: 20px;
  //   width: 32px;
  //   text-align: center;
  //   font-family: var(--mygo-font-family-mono);
  //   line-height: 1.85;
  //   font-size: 0.875em;
  //   transition:
  //     border-color 0.5s,
  //     color 0.5s;
  // }
}

// @media (min-width: 768px) {
//   .kan-doc h1 {
//     letter-spacing: -0.02em;
//     line-height: 40px;
//     font-size: 32px;
//   }
// }

// .kan-doc h2 .header-anchor {
//   top: 24px;
// }

// @media (min-width: 640px) {
//   .kan-doc [class*="language-"] {
//     border-radius: 8px;
//     margin: 16px 0;
//   }
// }

// @media (max-width: 639px) {
//   .kan-doc li [class*="language-"] {
//     border-radius: 8px 0 0 8px;
//   }
// }
